@media(min-width:480px){
    main .articles .select-book {
        width: 49%;
        margin-bottom: 10px;
        float: left;
        margin-left: 2%;
    }
    main .articles .select-book:nth-of-type(2n + 1){
        margin-left: 0;
    }

}

@media(min-width:768px){
    main .toggle-nav{
        display: none;
    }
    header .logo-big{
        display: none;
        width: auto;
    }
    main .articles .search input[type="text"]{
        display: inline-block;
        width: 120px;
    }
    .fa-sign-out{
        display: none;
    }
    main .side-nav{
        display: block;
        width: 100%;
        position: static;
        overflow: hidden;
        overflow-y: auto;
        height: 100vh;
        z-index: 100;
    }
    main .side-nav li span:nth-of-type(2n){
        display: none;
    }
    main .test{
        transition: 0.2s ease;
    }
    main .articles .books p{
        display: inline-block;
        font-size: 13px;
        float: left;
    }
    main .articles .books select{
        float: right;
    }
    .pagination{
        padding-top: 7px;
    }
    main .articles .select-book {
        width: 32%;
        margin-left: 2%;
    }
    main .articles .select-book:nth-of-type(2n + 1){
        margin-left: 2%;
    }
    main .articles .select-book:nth-of-type(3n + 1){
        margin-left: 0;
    }

}

@media(min-width:992px){
    main .articles .select-book {
        width: 23.5%;
        margin-left: 2%;
    }
    main .articles .select-book:nth-of-type(3n + 1){
        margin-left: 2%;
    }
    main .articles .select-book:nth-of-type(4n + 1){
        margin-left: 0;
    }

}


@media(min-width:1200px){
    main .articles .select-book {
        width: 15%;
        margin-left: 2%;
    }
    main .articles .select-book:nth-of-type(4n + 1){
        margin-left: 2%;
    }
    main .articles .select-book:nth-of-type(6n + 1){
        margin-left: 0;
    }


}