@media(min-width:480px){

    main .articles .select-book {
        width: 49%;
        margin-bottom: 10px;
        float: left;
        margin-left: 2%;
    }
    main .articles .select-book:nth-of-type(2n + 1){
        margin-left: 0;
    }

}

@media(min-width:768px){
    header{
        text-align: left;
    }
    header .logo{
        width: 120px;
        margin-left: 15px;
    }
    header .showNav{
        display: none;
    }
    .side-button{
        display: block;
    }
    main .toggle-nav{
        display: none;
    }
    header .logo-big{
        display: none;
        width: auto;
    }
    main .articles .search input[type="text"]{
        display: inline-block;
        width: 120px;
    }
    .fa-sign-out{
        display: none;
    }
    main .side-nav{
        display: block;
        width: 100%;
        position: static;
        overflow: hidden;
        overflow-y: auto;
        height: 100vh;
        z-index: 100;
        margin-left: -15px;
        border-top: 1px solid #555555;
    }
    main .side-nav ul:first-of-type{
        display: none;
    }

    .articles .new-article .upload{
        display: inline-block;
    }
    main .articles .new-article p{
        margin-left: 15px;
    }
    main .articles .books p{
        display: inline-block;
        font-size: 13px;
        float: left;
    }
    main .articles .books select{
        float: right;
    }
    .pagination{
        padding-top: 7px;
    }
    main .articles .select-book {
        width: 32%;
        margin-left: 2%;
    }
    main .articles .select-book:nth-of-type(2n + 1){
        margin-left: 2%;
    }
    main .articles .select-book:nth-of-type(3n + 1){
        margin-left: 0;
    }
    .articles.orders .search .date{
        display: inline-block;
        margin-right: 15px;
        margin-left: 20px;

    }
}

@media(min-width:992px){
    main .articles .select-book {
        width: 23.5%;
        margin-left: 2%;
    }
    main .articles .select-book:nth-of-type(3n + 1){
        margin-left: 2%;
    }
    main .articles .select-book:nth-of-type(4n + 1){
        margin-left: 0;
    }
    .articles.orders .fa-search {
        display: none;
    }
    .articles.orders .heaeder-top{
        padding-bottom: 15px;
    }
    .articles.orders .heaeder-top .search{
        float: right;
        display: block;
    }
    .articles.orders .search .date{
        margin-right: 25px;
    }
    main .orders .fa-chevron-down{
        display: block;
    }

    /*    /////////////ORDER LISTS*/
    .order-info .article-num .toggle-oredr{
        display: none;
    }
    main .order-info .header{
        display: block;
    }
    main .order-info li div{
        float: left;
    }
    main .order-info .num{
        width: 15%; 
    }
    main .order-info .contact{
        width: 30%; 
    }
    main .order-info .article-num{
        width: 10%; 
    }
    main .order-info .price{
        width: 10%; 
    }
    main .order-info .payment{
        width: 15%; 
    }
    main .order-info .status{
        width: 20%; 
    }
    main .order-info .body .article-num,
    main .order-info .body .price,
    main .order-info .body .payment,
    main .order-info .body .status{
        border-bottom: none;
    }
    main .mobil-version{
        display: none !important;
    }
    main .desktop-version{
        display: block;
    }
    .order-info .num {
        border-bottom: none;
        margin-top: 0px;
        margin-left: 0;
        background-color: transparent;
        display: inline-block;
    }
    .order-info .num  p{
        display: block;
        padding: 0;
        color: #000;
        margin-bottom: 0;
    }
    .order-info .contact .contact-card{
        background-color: #ececec;
        padding: 10px;
        width: 90%;
    }
    .order-info .contact .contact-card p{
        margin: 0px;
    }
    .order-info .contact a{
        display: inline-block;
    }
    .order-info .price p{
        display: block;
        margin-bottom: 2px;
    }
    .order-info .price div{
        text-align: right;
    }
    .order-info .price .desktop-version{
        line-height: 5px;
        font-weight: bolder;
    }
    .order-info p u{
        text-decoration: none;
        margin: 0;
        font-weight: bold;
    }
    main .message{
        width: 100%;
        text-align: left;
        margin: 10px 0;
        display: inline-block;
        padding-left: 15%;
    }
    main .message p{
        display: inline-block;
    }
    main .message input:first-of-type{
        width: 50%;
        max-width: none;
    }    
    main .message input:last-of-type{
        width: 20%;
        max-width: none;
    }    
    main .message a{
        margin-right: 15px;
    }
    main .order-wrapper .header{
        display: block;
        margin-bottom: 30px;
    }
    main .order-wrapper ul .products{
        width: 8%;
    }
    main .order-wrapper ul .title{
        width: 16%;
    }
    main .order-wrapper ul .amount,
    main .order-wrapper ul .price,
    main .order-wrapper ul .size{
        width: 9%;
    }
    main .order-wrapper ul .location{
        width: 15%;
    }
    main .order-wrapper ul .id,
    main .order-wrapper ul .sum{
        width: 10%;
    }
    main .order-wrapper ul .status{
        width: 14%;
    }
    main .order-wrapper .body{
        background-color: #fff;
        padding-top: 15px;
        border-bottom: none;
        margin-top: 0;
    }
    main .order-wrapper .body {
        border-bottom: 1px solid #ececec;
        padding: 7px;
    }
    main .order-wrapper .body div{
        float: left;
    }
    .order-wrapper .body .title {
        vertical-align: middle;
    }

    main .order-wrapper .body p{
        margin-left: 0px;
    }
    .order-wrapper .body .location{
        display: inline-block;
        vertical-align: text-bottom;
        color: #000;
    }
    .order-wrapper .body .location u{
        font-weight: bold;
        text-decoration: none;
        display: block;

    }
    main .order-wrapper ul .id,
    main .order-wrapper ul .amount,
    main .order-wrapper ul .price,
    main .order-wrapper ul .size,
    main .order-wrapper ul .sum,
    main .order-wrapper ul .status{
        display: inline-block;
    }


}
@media(min-width:1200px){
    main .articles .select-book {
        width: 15%;
        margin-left: 2%;
    }
    main .articles .select-book:nth-of-type(4n + 1){
        margin-left: 2%;
    }
    main .articles .select-book:nth-of-type(6n + 1){
        margin-left: 0;
    }


}