@media(min-width:768px){
    .fa-sign-out{
        display: none;
    }
    main .side-nav{
        display: block;
        width: 100%;
        position: static;
        overflow: hidden;
    }
    main .side-nav li span:nth-of-type(2n){
        display: none;
       
    }
    main .test{
        transition: 0.2s ease;
    }

}

@media(min-width:992px){



}


@media(min-width:1200px){



}