body *{
    font-family: 'Roboto', sans-serif;
}
body h1{
    font-size: 24px;
    color: #000;
}
.showInline{
    display: inline-block !important;
}
.display{
    display: block !important;
}
/***********STILIZOVANJE HEDERA*/
header{
    background-color: #333333;
    text-align: center;
}
header a{
    display: inline-block
}
header p{
    display: inline-block;
}
header .logo{
    width: 80px;
}
header .logo .img-responsive{
    display: block;
    margin: 0 auto;
}
header .btn-default{
    position: absolute;
    top: 10px;
    left: 25px;
    background: transparent;
    border: transparent;
    transition: 0.5s ease;
}
header .logout{
    color: #fff;
    padding: 5px 25px;
    border: 1px solid #888888;
    margin-right: 60px;
    transform: translateY(55%);
    border-radius: 3px;
    
}
header .logout:hover{
    color: #e87218;
    text-decoration: none;
}
header .fa-bars{
    color: #fff;
}
.btn:hover, 
.btn:focus,
.btn.focus {
    background: transparent;
    text-decoration: none;
}

/************SIDE NAV*/

main .side-nav{
    background-color: #333333;
    position: fixed;
    top: 0;
    left: -700px;
    width: 80%;
    padding: 15px;
    overflow-y: auto;
    height: 100vh;
    z-index: 100;
    transition: 0.5s ease;
}
.showSideNav{
    left: 0px!important;
}
main .side-nav ul{
    border-bottom: 1px solid #555555;
    margin-bottom: 30px;
    padding-bottom: 30px;
}
main .side-nav ul:last-of-type{
    border-bottom: 1px solid transparent;
}
main .side-nav ul:nth-of-type(4n) li:first-of-type{
    list-style: none;
    margin-left: -15px;
}
main .side-nav li{
    margin: 10px 0;
}

main .side-nav ul:first-of-type {
    margin-top: 0;
    border-bottom: 1px solid #555555;
    padding-bottom: 5px;
}
main .side-nav ul:first-of-type .fa{
    color: #9a9a9a;
    font-size: 30px;
}
main .side-nav ul:first-of-type  li:hover .fa{
    color: #e8721a;
}
main .side-nav a{
    color: #999999;
    font-size: 14px;
}
main .side-nav li span:last-of-type{
    vertical-align: top;
    line-height: 30px;
}

main .side-nav li .fa{
    font-size: 25px;
    color: #555555;
    margin-right: 10px;
    width: 25px;
}
main .side-nav li:hover .fa,
main .side-nav li.active .fa{
    color: #e8721a;
}
main .side-nav .cms{
    list-style-image: url('li-style.jpg');
}

main .side-nav li:hover a,
main .side-nav li.active a
{
    color: #fff;
    text-decoration: none;
}
.buttonSlide{
    left: 80% !important;
}
.side-button{
    width: 15px;
    background: #333333;
    position: fixed;
    top: 300px;
    left: 0;
    display: none;
    border: 1px solid #333333;
    border-radius: 3px;
}
.side-button .fa{
    color: #e8721a;
}
/***************ARTICLES*/
main .articles{
    background: #fff;
    }
main .articles header{
    background-color: #ececec;
    margin: 0 -15px;
    padding: 10px;
    text-align: left;
}
main .articles header h1{
    margin: 10px 15px;
    text-align: left;
    display: inline-block;
}
main .articles header .fa-search{
    color: #9a9a9a;
    margin-right: 15px;
    position: absolute;
    top: 20px;
    right: 0;
}
main .articles header .fa:hover{
    color: #e8721a;
}
main .articles .search{
    display: none;
    margin-right: 50px;

}
main .articles .search .form-group {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 0;
}
main .articles .search .form-group div{
    display: inline-block;
    text-align: center;
    margin: 5px;
}
main .articles .search .form-group p{
    font-size: 12px;
    line-height: 10px;
    margin: 0;

}
main .articles .search input[type="checkbox"] {
    margin: 0px;
}
main .articles .btn-default{
    position: static;
    color: #fff;
    background-color: #e8721a;
    padding: 5px 25px;
    border-radius: 3px;
    margin-left: 5px;
    transition: 0.2s;
}
main .articles .btn-default:hover{
    box-shadow: 2px 2px 2px 1px #888888;
}
main .heaeder-top{
    border-bottom: 1px solid #dddddd;
    padding-bottom: 30px;
}

main .search select{
    border-color: transparent;
    border-radius: 3px;
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none; 
    background-image: url('down.jpg'); 
    background-repeat: no-repeat;
    background-position-x: 75px;
    margin: 5px 5px;
    width: 90px;
    box-shadow: 2px 2px 2px 1px rgb(221, 221, 221);
    padding: 3px;
}
main .articles .search input[type="text"]{
    border-color: transparent;
    border-radius: 3px;
    padding: 3px 5px;
    margin-left: 5px;
    width: 80%;
    display: block;
}
main .articles .new-article{
    margin-top: 20px;
    position: relative;
}
.articles .new-article .upload{
    margin-bottom: 15px;
}
.articles .new-article .upload a{
    padding: 10px 15px;
    background-color: #3eadc1;
    color: #fff;
    border-radius: 3px;
    font-size: 12px;
    line-height: 12px;
    margin-left: 5px;
}
.articles .new-article .upload a .fa{
    color: #fff;
    font-size: 14px;
    line-height: 12px;
    margin: 0 auto;
}
.articles .new-article .upload a:hover{
    text-decoration: none;
}
main .articles .new-article .nivelacija{
    margin-right: 50px;
    display: none;
}
main .articles .new-article p{
    font-weight: bold;
    display: inline-block;
    margin-left: 5px;
}
main .articles .new-article input[type="checkbox"]{
    margin-left: 15px;
    margin-right: 5px;
    vertical-align: text-top;
}
main .articles .new-article input[type="text"]{
    border-color: transparent;
    border-radius: 3px;
    padding: 3px 5px;
    margin-left: 5px;
    max-width: 60px;
}
main .articles .new-article form{
    display: inline-block;
}
main .articles .new-article .fa-cogs{
    color: #9a9a9a;
    margin-right: 15px;
    position: absolute;
    right: 0;
    top: 10px;
    margin-right: 5px;
}
main .articles .books{
    margin: 15px 0;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 15px;
}
main .articles .books p{
    display: block;
    font-size: 13px;
    padding-top: 10px;
}
main .articles .books p u{
    text-decoration: none;
    font-weight: bold;
}
.pagination {
    display: inline-block;
    margin: 0px;
}

.pagination > li > a,
.pagination > li > span {
    position: relative;
    float: left;
    padding: 2px 7px;
    line-height: 1.42857143;
    color: #8c8c8c;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid transparent;
    border-top-color: rgb(221, 221, 221);
    border-right-color: rgb(221, 221, 221);
    border-bottom-color: rgb(221, 221, 221);
    border-left-color: rgb(221, 221, 221);
    margin-right: 5px;
    box-shadow: 1px 1px 1px rgb(221, 221, 221);
    border-radius: 2px;
}
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > .active > a{
    background-color: #e8721a;
    color: #fff;
    border: 1px solid transparent;
}
.pagination > .active > a:hover{
    background-color: #e8721a;
    border: 1px solid transparent;
}
.pagination li:nth-of-type(6n) a{
    border: 1px solid transparent;
    box-shadow: none;
}
.pagination li:last-of-type a{
    color: #e8721a;
    font-weight: bolder;
}
.pagination li:last-of-type a:hover{
    color: #fff;
}
main .articles .books select{
    border-color: transparent;
    border-radius: 3px;
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none; 
    background-image: url('down.jpg'); 
    background-repeat: no-repeat;
    background-position-x: 150px;
    margin: 5px 5px;
    width: 170px;
    box-shadow: 2px 2px 2px 1px rgb(221, 221, 221);
    padding: 3px;
    vertical-align: bottom;
}

main .articles .select-book {
    background-color: #ececec;
    border: 1px solid #ececec;
    width: 100%;
    margin-bottom: 10px;
}
main .articles .select-book input[type='checkbox']{
    margin-left: 10px;
}
main .articles .select-book a{
    float: right;
    color: #bbbbbb;
    margin-right: 10px;
    margin-bottom: 15px;
}
main .articles .select-book a:hover,
main .articles .select-book a.active{
    color: #e8721a;
}
main .articles .book{
    background: #fff;
    padding: 15px 10px;
}
main .articles .book figure{
    margin-bottom: 15px;
}
main .articles .book figure .img-responsive{
    display: inline-block;
}
main .articles .book a{
    float: none;
}
main .articles .book p{
    text-align: center;
}
main .articles .book p u{
    color: #e8721a;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}
main .articles .book p:first-of-type{
    font-weight: bold;
    font-size: 16px;
}

/*********************STRANA NARUDZBINE****************/
.articles.orders .heaeder-top{
    border-bottom: none;
    padding-bottom: 15px;
    padding-bottom: 0;
}
.articles.orders .heaeder-top .search{
    display: none;
}
.articles.orders .search .date{
    display: inline-block;
    margin-right: 15px;
    margin-left: 5px;
}
.articles.orders .search .date p{
    display: inline-block;
    color: #888888;
}

.articles.orders .search .date input{
    display: inline-block;
    width: 40%;
    max-width: 120px;
}
.orders .shop{
    margin-left: 40px;
}
main .order-info .header{
    border-bottom: 1px solid #dddddd;
    padding-bottom: 10px;
    margin-top: 20px;
    display: none;
}
main .desktop-version{
    display: none;
}
main .order-info .mobil-version{
    color: #888888
}

main .order-info h3{
    margin-top: 0;
}
main .order-info .body div{
    margin-top: 10px;
}
main .order-info .body .article-num,
main .order-info .body .price,
main .order-info .body .payment,
main .order-info .body .status{
    border-bottom: 1px solid #dddddd;
    max-width: 300px;
}
.order-info .num {
    border-bottom: 1px solid #888888;
    margin-top: 10px;
    margin-left: -15px;
    background-color: #888888;
    display: inline-block;
    position: relative;
}
main .orders .toggle-oredr-list{
    color: #e8721a;
    border: 1px solid #8c8c8c;
    box-shadow: 3px 3px 3px #8c8c8c;
    position: absolute;
    top: 3px;
    left: -45px;
    padding: 7px;
    display: none;
}

main .orders .fa-chevron-down:hover{
    cursor: pointer;
}

.order-info .num  p{
    display: inline-block;
    padding: 0 10px;
    color: #fff;
    margin-bottom: 0;

}
.order-info p u{
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}
.order-info .contact h3{
    display: inline-block;
    font-size: 16px;
}
.order-info .contact a{
    color: #e8721a;
    font-size: 14px;
    display: block;
}
.order-info .article-num{
    position: relative;
}
.order-info .article-num p{
    display: inline-block;
}
.order-info .article-num .toggle-oredr{
    color: #e8721a;
    border: 1px solid #dddddd;
    padding: 5px;
    box-shadow: 3px 3px 3px #dddddd;
    position: absolute;
    right: 0;
    bottom: 5px;
}
.order-info .article-num span:hover{
    cursor:pointer;
}
.order-info .article-num .fa{
    margin-left: 5px;
}

.order-info .price .mobil-version{
    margin-right: 40px;
}
.order-info .price p{
    display: inline-block;
}
main .message{
    margin-bottom: 20px;
}
main .message .fa{
    vertical-align: bottom;
    color: #e8721a;
    font-size: 16px;
}

main .message input{
    width: 100%;
    max-width: 270px;
    border-color: #888888;
}
main .message p{
    color: #888888;
    margin-bottom: 5px;
    margin-top: 15px;
}
/****************ORDER WRAPPER*/
main .order-list{
    display: none;
}
main .order-wrapper{
    padding: 15px;
    background-color: #ececec;
    display: block;
    width: 100%;
    max-width: 300px;
    overflow: hidden;
    height: 100vh;
    overflow-y: auto;
}
main .order-wrapper .header{
    display: none;
}
main .order-wrapper .header div p{
    display: inline-block;
    margin: 0;
}
main .order-wrapper .header div{
    float: left;
    display: inline-block;
}
.order-wrapper .body{
    border-bottom: 3px solid #fff;
    margin-top: 15px;
}
.order-wrapper .body .products {
    display: inline-block;
}
.order-wrapper .body .title {
    display: inline-block;
    vertical-align: top;
    font-weight: bold;
}

.order-wrapper .body .location{
    display: block;
    margin-bottom: 25px;
    color:#888888;
}
.order-wrapper .body  u{
    text-decoration: none;
    display: inline-block;
}
main .order-wrapper .body p{
    display: inline-block;
    margin-left: 7px;
}
main .order-wrapper ul .id,
main .order-wrapper ul .amount,
main .order-wrapper ul .price,
main .order-wrapper ul .size,
main .order-wrapper ul .sum{
    display: block;
}
.order-wrapper .body .sum p:last-of-type{
    font-weight: bold;
}
.order-wrapper .body .mobil-version{
    width: 100%;
    max-width: 100px;
    color: #888888;
}
.order-wrapper .body .status .mobil-version{
    margin: 25px 7px;

}

.order-wrapper-mobile .order-wrapper ul .price{
    border: none;
}
.order-wrapper-mobile .order-wrapper ul .price p{
    margin-right: 0;
}
/*//////////LOGIN PAGE*/
main .login{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
}
main .login form{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -90px;
    margin-top: -115px;
    color: #777777;

}
main .login form p{
    margin-top: 15px;
}
main .login form .fa{
    color: #e87218;
    font-size: 30px;
}
main .login button{
    display: block;
    margin: 10px auto;
    color: #fff;
    background-color: #e87218;
    border: 1px solid transparent;
    width: 100%;
    padding: 7px;
}
main .login button:hover{
    color: #fff;
    background-color:  #ab4d05;
    border-color: transparent;
}
main .login form input:active,
main .login form input:focus{
    border-color: #8c8c8c;
}
/*//////////// USER PAGE STYLE*/
main .user thead th{
    font-weight: lighter;
    color: #000;
}
main .user h1{ 
    margin: 0;
    font-weight: 400;
 }
 main .user p{
     margin: 0;
 }
 main .user a{
     color: #e8721a;
 }
 main .user a:hover{
     color: #888888;
 }
 main .user a .fa{
     font-size: 20px;
     margin-left: 10px;
     color: #9a9a9a;
 }
 main .user a .fa:hover{
     color: #e87218;
 }
 main .user a .fa-power-off{
     color: #59b200;
 }
 
 main .user tbody > tr > td{
     vertical-align: middle;
 }
 main .user a .fa.disabled{
     color: red;
 }